.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ui.form {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}